<html>
<head>
    <meta charset = 'utf-8'>
    <meta name= author content= "Alyssa Rivera, Angela Wang, Hannah Weissman"
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href= {{url_for('static', filename ='stylesheet.css')}}
</head> 

<body>
    <nav>
        <a id='nav-link' href="{{ url_for('index') }}"> Home </a>
        <a id='nav-link' href="{{ url_for('donationForm') }}"> Submit Donation </a>
        <a id='nav-link' href="{{ url_for('displayInventory') }}"> View Inventory</a>  
        <a id='nav-link' href="{{ url_for('displayDonations') }}"> View Donations</a>
        <a id='nav-link' href="{{ url_for('expenditureForm') }}"> Submit Expenditure </a>
        <a id='nav-link' href="{{ url_for('updateInventoryForm') }}"> Update Inventory</a>
    </nav>

    <br>
    
    <main_body>
    {% block title %}
    {% endblock %}
    <br>    
    {% for msg in get_flashed_messages() %}
    <class="error"> {{msg}} </class>
    <br>
    {% endfor %}
    
    {% block content %}
    {% endblock %}
    </main_body>

</body>
    
<html>
