{% extends "base.html" %} 

{% block title %} 
    <h1>Donation Submission Form</h1> 
{% endblock %}

{% block content %}

    <!-- Donor and donation form -->
    <form method="POST" action="" >
        <!-- Donor -->
        <h2> Donor: </h2>
        <table id='donor-table'>
            <tr>
            <!-- dropdown: select existing donor -->
            <td>Select Existing Donor: </td>
            <td>
            <select name="existing-donor">
                <option value="create-new-donor"> Select... </option>
                {% for dict in donor_list %}
                    <option value={{dict.id}}> {{dict.name}} </option>
                {% endfor %}
            </select>
            </td>
            </tr> 
            
            <!-- Create new donor -->
            <tr>
                <td> Or create new donor: </td>
            </tr>
            
            <tr>
                <td> Type: </td>
                <td>
                    <select name="donor-type">
                        <option value="individual"> Individual </option>
                        <option value="organization"> Organization </option>
                    </select>
                </td>
            </tr>
            <!-- name -->
            <tr>
                <td>Name: </td>
                <td> <input type="text" name="donor-name"> </td>
            </tr>
            <!-- phone # -->
            <!-- way to ensure formatting correct? and digestible? -->
            <tr>
                <td> Phone: </td>
                <td><input type="text" name="donor-phone"> </td>
            </tr>
            <!-- email -->
            <tr>
                <td> Email: </td>
                <td> <input type="text" name="donor-email"> </td>
            </tr>
            
            <!-- address -->
            <tr>
                <td> Address: </td>
                <td> <textarea name="donor-address" rows=5 cols=30></textarea> </td>
            </tr>

            <!-- description -->
            <tr>
                <td> Description: </td>
                <td> <textarea name = "donor-description" rows=2 cols=30></textarea> </td>
            </tr>
        </table>
        
        <!-- Donation-->
        <h2> Donation: </h2>
        <table id='donation-table'>
            
            <tr>
                <td> Select Previously Given Donation:</td>
                <td>
                    <select name="existing-donation">
                        <option value='create-new-donation'> Select... </option>
                        {% for dict in donation_list %}
                            <option value={{dict.description}}> {{dict.description}} </option>
                            <!-- Future fix: use dict.id as value, leverage it-->
                        {% endfor %}
                    </select> 
                </td>
            </tr>
            <!-- Item description text field -->
            <tr>
                <td> Or give for the first time: </td>
            </tr>
            <tr>
                <td> Donation Description: </td>
                <td> <input type="text" name="donation-description"> </td>
            </tr>
            
            <!-- Amount number field -->
            <tr>
                <td> Amount: </td>
                <td> <input type="number" required name="amount"> </td>
            </tr>
            
            <!-- Units -->
            <tr>
                <td> Units: </td>
                <td> <input type="text" required name="units" </td>
            </tr>
            
            <!-- dropdown: donation category -->
            <tr>
                <td> Select donation category: </td>
                <td>
                   <select required name="donation-category">
                        <option value="food"> Food </option>
                        <option value="medical"> Medical </option>
                        <option value="clothing"> Clothing </option>
                        <option value="supplies"> Supplies </option>
                        <option value="money"> Monetary </option>
                        <option value="other"> Other </option>
                    </select> 
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit Donation"></p>

    </form>
    
{% endblock %}