{% extends "base.html" %} 

{% block title %} 
    <h1>Search Donations Table</h1>
    
{% endblock %}

{% block content %}

        <form method=POST action="/reset/">
            <input type="submit" name="submit-btn" value="Reset Donations">
        </form>
        
    <div class = "sort">
        <form method=POST action="/sortBy/">
            <label for="menu-tt">Order By:</label>
            <select name="menu-tt">
              <option value="none">Select</option>
                <option value = "Most Recent Donation" > Most Recent</option>
                <option value = "Oldest Donation First" > Oldest Donation</option>
                <option value = "Donation Type" > Type Descending </option>
             </select>
            <input type="submit" name="submit-btn" value="Sort">
        </form>
    
        <form name="FilterForm" id="FilterForm" action="/filterDonationType/" method="POST">
            <label>Filter by Type:</label>
            <ul>
            <li><input type="checkbox" name="type" value="food" />food</label></li>
            <li><input type="checkbox" name="type"  value="medical" />medical</label></li>
            <li><input type="checkbox" name="type"  value="clothes" />clothes</label></li>
            <li><input type="checkbox" name="type"  value="supplies" />supplies</label></li>
            <li><input type="checkbox" name="type"  value="money" />money</label></li>
            <li><input type="checkbox" name="type" value="other" />other</label></li>
            </ul>
            <input type="submit" name="submit-btn" value="Choose">
        </form>

    </div>
        
            <table id="donation-list" border=1>
    
            <tr>
                <th>Date of Submission</th>
                <th>Donation Name</th>
                <th>Amount</th>
                <th>Units</th>
                <th>Type</th>
            </tr>
    
            <!-- Fills out donation history table --> 
            {% for donation in allDonations %}
            <tr data-tt="{{donation.donationID}}">
                <td class="date">{{donation.submitDate}}</td>
                <td class="description">{{donation.description}}</td>
                <td class="amount">{{donation.amount}}</td>
                <td class="units">{{donation.units}}</td>
                <td class="type">{{donation.type}}</td>
            </tr>
            {% endfor %}
    
        </table>
    

    <body>
        <div style="color:red;font-weight:bold" id="flashes">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="messages">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>


 
    </body>

{% endblock %}

