<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Hannah Weissman">
    <title>Donation Search Application</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    </head>
    
    <h1>Search Donations Table:</h1>
    
    <h1>List of Donations!</h1>

    
    
    <div id="sort">
    <form method=POST action="/reset/">
        <input type="submit" name="submit-btn" value="Reset">
    </form>
    
    
    <form method=POST action="/sortBy/">
        <label for="menu-tt">Order By:</label>
        <select name="menu-tt">
          <option value="none">Select</option>
            <option value = "Most Recent Donation" > Most Recent</option>
            <option value = "Oldest Donation First" > Oldest Donation</option>
            <option value = "Type" > Type Descending </option>
         </select>
        <input type="submit" name="submit-btn" value="Sort">
    </form>
    </div>
    
    
    

        
        <body>
        <div style="color:red;font-weight:bold" id="flashes">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="messages">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

        <table id="donation-list">
    
            <tr>
                <th>Date of Submission</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
    
            <!-- Fills out donation history table --> 
            {% for donation in allDonations %}
            <tr data-tt="{{donation.donationID}}">
                <td class="date">{{donation.submitDate}}</td>
                <td class="description">{{donation.description}}</td>
                <td class="amount">{{donation.amount}}</td>
                <td class="type">{{donation.type}}</td>
            </tr>
            {% endfor %}
    
        </table>

 
    </body>
</html>

    </div>

        <table id="donation-list">
    
            <tr>
                <th>Date of Submission</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
    
            <!-- Fills out donation history table --> 
            {% for donation in allDonations %}
            <tr data-tt="{{donation.donationID}}">
                <td class="date">{{donation.submitDate}}</td>
                <td class="description">{{donation.description}}</td>
                <td class="amount">{{donation.amount}}</td>
                <td class="type">{{donation.type}}</td>
            </tr>
            {% endfor %}
    
        </table>
 
    </body>
</html>
