{% extends "base.html" %} 

{% block title %} 
    <h1>Donation Submission Form</h1> 
{% endblock %}

{% block content %}

<form method="POST" action="" >
    <h2> Donor: </h2>
    <!--Create table row up here with 'or' in the center-->
    <section class="columns">
        <div class="left">
            <h4> Select Existing Donor: </h4> 
            <table id="select-donor-table">
                <tr>
                    <td> 
                        <select id="existing-donor" name="existing-donor">
                            <option value="create-new-donor"> Select... </option>
                            {% for dict in donor_list %}
                                <option data-id={{dict.id}} data-category={{dict.category}} data-phone={{dict.phone}} data-email={{dict.email}} data-address={{dict.address}} data-description={{dict.description}} value={{dict.id}}> {{dict.name}} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button type="button" id="existing-donor-button">Select</button>
                    </td>
                </tr>
                <tr> <td> ID: </td> <td id='existing-id'> </td> </tr>
                <tr> <td> Type: </td> <td id='existing-category'> </td> </tr>
                <tr> <td> Phone: </td> <td id='existing-phone'> </td> </tr>
                <tr> <td> Email: </td> <td id='existing-email'> </td> </tr>
                <tr> <td> Address: </td> <td id='existing-address'> </td> </tr>
                <tr> <td> Description: </td> <td id='existing-description'> </td> </tr>
            </table>
 
        </div>
        <div class="right">
            <h4>Create New Donor: </h4>
            <table id='new-donor-table'>
            <!-- name -->
            <tr>
                <td>Name: </td>
                <td> <input type="text" name="donor-name"> </td>
            </tr>
            <!-- type -->
            <tr>
                <td> Type: </td>
                <td>
                    <select name="donor-type">
                        <option value="individual"> Individual </option>
                        <option value="organization"> Organization </option>
                    </select>
                </td>
            </tr>
            <!-- phone # -->
            <tr>
                <td> Phone: </td>
                <td><input type="text" name="donor-phone"> </td>
            </tr>
            <!-- email -->
            <tr>
                <td> Email: </td>
                <td> <input type="text" name="donor-email"> </td>
            </tr>
            <!-- address -->
            <tr>
                <td> Address: </td>
                <td> <textarea name="donor-address" rows=5 cols=30></textarea> </td>
            </tr>
            <!-- description -->
            <tr>
                <td> Description: </td>
                <td> <textarea name = "donor-description" rows=2 cols=30></textarea> </td>
            </tr>
            </table>
        </div>
    </section>
    
    <h2> Donation: </h2>
    <section class="columns">
        <div class="left">
            <h4> Select Item to Donate: </h4>
            <table id='existing-donation-table'>
            <tr>
                <td>
                    <select id="existing-donation" name="existing-donation">
                        <option value='create-new-donation'> Select... </option>
                        {% for dict in donation_list %}
                            <option data-units={{dict.units}} data-category={{dict.category}} value="{{dict.description}}"> {{dict.description}} </option>
                        {% endfor %}
                    </select> 
                </td>
                <td>
                    <button type="button" id="existing-donation-button">Select</button>
                </td>
            </tr>
            <tr>
                    <td> Amount: </td>
                    <td> <input type="number" min=0 required name="left-amount"> </td>
                </tr>
            <tr> <td> Units: </td> <td id='existing-units'> </td> </tr>
            <tr> <td> Category: </td> <td id='ex-category'> </td> </tr>
            </table>
        </div>
        
        <div class="right">
            <h4> Create New Item: </h4>
            <table id='create-donation-table'>
                <tr>
                    <td> Donation Description: </td>
                    <td> <input type="text" name="donation-description"> </td>
                </tr>
                <!-- Amount number field -->
                <tr>
                    <td> Amount: </td>
                    <td> <input type="number" min=0 required name="amount"> </td>
                </tr>
                <!-- Units -->
                <tr>
                    <td> Units: </td>
                    <td> <input type="text" required name="units" </td>
                </tr>
                <!-- dropdown: donation category -->
                <tr>
                    <td> Select donation category: </td>
                    <td>
                       <select required name="donation-category">
                            <option value="food"> Food </option>
                            <option value="medical"> Medical </option>
                            <option value="clothing"> Clothing </option>
                            <option value="supplies"> Supplies </option>
                            <option value="money"> Monetary </option>
                            <option value="other"> Other </option>
                        </select> 
                    </td>
                </tr>
            </table>
        </div>
    </section>

            
            
        <br>
        <input type="submit" id="donation-submit" value="Submit Donation"></p>
</form>
    
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='donation_page.js')}}"></script>
{% endblock %}

