<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=author content="Alyssa Rivera, Angela Wang, and Hannah Weissman">
    <meta name=description content="">
    <meta name=keywords content="">    
    <title>Home-Resource Aid Directory</title>
    <link rel="stylesheet" type="text/css"
          href="../static/stylesheet.css">
  </head>
  <h1>Welcome to the Resource Aid Directory (RAD): </h1>
  <body>
    <div id="navigation">
      <ul>
        <li><a href="/donationForm/">Donate here!</a>
        <li><a href="/donations/">Search through donations</a>
        <li><a href="/inventory/">Check out inventory</a>
      </ul>
    </div>
    <div id="content">
      

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- JS code would go here -->
    
  </body>
</html>
