{% extends "base.html" %} 

{% block title %}
  <h1>Welcome to the Resource Aid Directory (RAD) </h1>
{% endblock %}

{% block content %}
  <body>

<div class = "row">
    <div class = "blockLeft">
        <div style="" id="flashes">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="messages">
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

        <img src = "../static/donate.png">

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- JS code would go here -->
    
  </body>
{% endblock %}
