{% extends "base.html" %} 

{% block title %}
  <h1>Welcome to the Resource Aid Directory (RAD) </h1>
{% endblock %}

{% block content %}
  <body>
    <div id="navigation">
      <ul>
        <li><a href="/donationForm/">Donate here!</a>
        <li><a href="/donations/">Search through donations</a>
        <li><a href="/inventory/">Check out inventory</a>
      </ul>
    </div>
    <div id="content">
      

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- JS code would go here -->
    
  </body>
{% endblock %}
