{% extends "base.html" %} 

{% block title %}    
    <h1>Search Inventory Table</h1>
{% endblock %}

{% block content %}

<div class = "flashes">
    
</div>

    <form method=POST action="/reset/">
            <input type="submit" name="submit-reset" value="Reset Inventory">
    </form>
    
    <div class = "row">
        <div class = "blockLeft">
            <form name="FilterForm" id="FilterForm" action="/filterInventory/sortBy/" method="POST">
                <label for="menu-tt">Order By:</label>
                <select name="menu-tt">
                    <option value="none">Select</option>
                    <option value = "Status (Low to High)" > Status (Low to High)</option>
                    <option value = "Alphabetical By Type" > Alphabetical By Type </option>
                 </select>
                 
                <p><label>Filter by Type:</label></p>
                    <ul>
                        <li><input type="radio" name="type" value="food">food</li>
                        <li><input type="radio" name="type" value="medical">medical</li>
                        <li><input type="radio" name="type" value="clothes">clothes</li>
                        <li><input type="radio" name="type" value="supplies">supplies</li>
                        <li><input type="radio" name="type" value="other">other</li>
                    </ul>
                <input type="submit" name="submit-btn" value="Sort">
            </form>
        </div>
        
        <div class = "tableMiddle">
            <table id="inventory-list" border =1>
    
                <tr>
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Units</th>
                    <th>Status</th>
                </tr>
    
                <!-- Fills out inventory history table --> 
                {% for inventory in allInventory %}
                    <tr data-tt="{{inventory.item_id}}">
                    <td class="description">{{inventory.description}}</td>
                    <td class="type">{{inventory.type}}</td>
                    <td class="amount">{{inventory.amount}}</td>
                    <td class="units">{{inventory.units}}</td>
                    <td class="status">{{inventory.status}}</td>
                </tr>
                {% endfor %}
    
            </table>
        </div>
    </div>

    
    
{% endblock %}

