<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Angela Wang">
    <title>Inventory Search Application</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    </head>
    
    <h1>Search Inventory Table:</h1>

    <form method=POST action="/filterInventoryType/">
        <label for="menu-tt">Filter by Type:</label>
        <select name="menu-tt">
        <option value="none">Choose One</option>
          <!--Fills out the drop down menu with donation types;
              Hard coded because we have a set of predefined donation types
              Similar types as donation table, except for money type which 
              is accounted for in expenditures table-->
            <option value = "food" > food </option>
            <option value = "medical" > medical </option>
            <option value = "clothes" > clothes </option>
            <option value = "supplies" > supplies </option>
            <option value = "other" > other </option>
         </select>
        <input type="submit" name="submit-btn" value="Choose">
    </form>
    
    <body>
        </div>
            <h1>Current Inventory</h1>

            <table id="inventory-list">
    
                <tr>
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
    
    <!-- Fills out donation history table --> 
    {% for inventory in allInventory %}
        <tr data-tt="{{inventory.item_id}}">
        <td class="description">{{inventory.description}}</td>
        <td class="type">{{inventory.type}}</td>
        <td class="status">{{inventory.status}}</td>
        <td class="relevance">{{inventory.relevance}}</td>
    </tr>
    {% endfor %}
    
    

    
</table>
 
    </body>
</html>
