{% extends "base.html" %} 

{% block title %}    
    <h1>Search Inventory Table:</h1>
{% endblock %}

{% block content %}
<form name="FilterForm" id="FilterForm" action="" method="POST">
    <label>Filter by Type:</label>
    <input type="checkbox" name="type" value="food" />food</label>
    <input type="checkbox" name="type"  value="medical" />medical</label>
    <input type="checkbox" name="type"  value="clothes" />clothes</label>
    <input type="checkbox" name="type"  value="supplies" />supplies</label>
    <input type="checkbox" name="type"  value="money" />money</label>
    <input type="checkbox" name="type" value="other" />other</label>
    <input type="submit" name="submit-btn" value="Choose">
</form>

 <div id="sort">
    <form method=POST action="/reset/">
        <input type="submit" name="submit-btn" value="Reset">
    </form>
    
    
    <form method=POST action="/sortBy/">
        <label for="menu-tt">Order By:</label>
        <select name="menu-tt">
          <option value="none">Select</option>
            <option value = "Most Recent Donation" > Most Recent</option>
            <option value = "Oldest Donation First" > Oldest Donation</option>
            <option value = "Type" > Type Descending </option>
         </select>
        <input type="submit" name="submit-btn" value="Sort">
    </form>
    </div>


   
    
    <body>
        </div>

            <table id="inventory-list">
    
                <tr>
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
    
    <!-- Fills out donation history table --> 
    {% for inventory in allInventory %}
        <tr data-tt="{{inventory.item_id}}">
        <td class="description">{{inventory.description}}</td>
        <td class="type">{{inventory.type}}</td>
        <td class="status">{{inventory.status}}</td>
        <td class="relevance">{{inventory.relevance}}</td>
    </tr>
    {% endfor %}
    
    

    
</table>
 
    </body>
{% endblock %}
