<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Hannah Weissman">
    <title>Donation Search Application</title>
    </head>
    <body>
        <h1>Donation History</h1>
        
        <!--<form id="search">-->
        <!--<input id="searchterm" placeholder="Filter By Type" name="typefilter">-->
        <!--<button id="searchbutton" type="submit" name="submit" value="Search">Search</button>-->
        
        <form method=POST >
        <label for="menu-type">Item Categories:</label>
        <select name="menu-type">
        <option value="none"></option>
            <option value="type">food</option>
            <option value="type">medical</option>
            <option value="type">clothing</option>
            <option value="type">supplies</option>
            <option value="type">money</option>
            <option value="type">other</option>
        </select>
        
        <input type="submit" name="submit-btn" value="Filter">
        </form>
        <br><br><br>
            
        
        
       
        
    <table id="donation-list">
    
                <tr>
                    <th>DonationID</th>
                    <th>Date of Submission</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
    
        <!-- Fills out donation history table --> 
        {% for donation in history %}
            <tr data-tt={{donation.donationID}}>
            <td class="date">{{donation.submitDate}}</td>
            <td class="amount">{{donation.amount}}</td>
            <td class="type">{{donation.type}}</td>
        </tr>
        {% endfor %}
    
    </table>
    </body>
</html>