{% extends "base.html" %} 
 
{% block title %}
    <h1> Update Inventory </h1>
{% endblock %}

{% block content %}
    <!-- Update Inventory Form -->
    <form method="POST" action="" >
        <table id='inventory-table'>
            
            <table id="itemList">
              <tr>
                <td>Item to Update: </td>
                   <td><select name="inventoryItem">
                    {% for item in inventory %}
                        <option value={{item.item_id}} data-threshold = {{item.threshold}} data-amount = {{item.amount}} >{{item.description}} ({{item.units}})</option>
                    {% endfor %}
                    </select> 
                    </td>
                <td><button type ="button" class="select">Select</button></td>
                </td>
            </tr>
            </table>
            
            <table id="itemSpecifics">

            <tr>
                <td>Current Amount: <span id="amount"></span></td>
            </tr>
            
            <tr>
            <td>Threshold: <span id="threshold"></span></td>
            </tr>

            <tr>
                <td> Update Amount: </td>
                <td><input type="text" name="new-amount"> </td>
            </tr>
            
             <tr>
                <td> Update Threshold: </td>
                <td><input type="text" name="new-threshold"> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit Updated Inventory"></p></td>
            </tr>
            </table>
        
        <br>
        <!--<input type="submit" class="center-submit" value="Submit Update"></p>-->
    </form>
    
</body>


<script>src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
/* global $ */

$("#itemSpecifics").hide();
$("#check").hide();

$("#itemList").on("click",".select",function (event) {
    
    var selectedID = parseInt($("[name=inventoryItem]").val())
    var amountforSelectID = $('#itemList option:selected').data("amount")
    var thresholdforSelectID = $('#itemList option:selected').data("threshold");
    
    $("#amount").html(amountforSelectID);
    $("#threshold").html(thresholdforSelectID);
    

 $("#itemSpecifics").slideDown();
    });

</script>
  
{% endblock %}